@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Customize these variable */
  /* https://github.com/adamwathan/tailwind-css-variable-text-opacity-demo */
  --tw-clr-primary-200: 232 147 0;
  --tw-clr-primary-300: 255 128 0;
  --tw-clr-primary-400: 232 66 0;
  --tw-clr-primary-500: 232 0 0;

  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #DBFF00 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00e887 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #00e0f3 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #00c4fd */
}

 .layout {
    max-width: 68rem;
    @apply mx-auto w-11/12;
  }